.container {
  display: flex;
  align-items: center;
}

.text-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 2;
  height: 50vh;
  margin: 20px 0;
}

.editors {
  margin: 20px;
  padding: 20px;
}

.userlist {
  display: flex;
  align-items: center;
}

.profile {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid gray;
  font-size: 20px;
}

.text-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  padding: 20px;
  margin: 20px;
  border: hidden;
  background-color: #F95700;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
